node_modules
dist
**.zip

# 版本锁
package-lock.json

# 文件
.DS_Store

# pnpm store
.pnpm-store

**/cache
**/doc_build


**.py

.trae
.dbg
debug**
.wrangler
**/.dev.vars
**/.dev.vars.*
!**/.dev.vars.example
