.tableComplex {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: 6px;
}

.tableComplexSummary {
  min-width: 0;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
