.workbenchLayout {
  &.shell {
    margin: 0 auto;
    padding: 24px;
  }

  .content {
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 240px;
  }
}
