.tableCard {
  overflow: hidden;
}

.tableCard :global(.ant-table-pagination.ant-pagination) {
  margin-inline: var(--ant-margin);
}

.titleLink:global(.ant-btn) {
  max-width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640px) {
  .tableCard {
    padding-inline: 8px;
  }
}
